
.home_title,.search_form{
  text-align: center;
}

.search_form input{
  width:50%;
  line-height:2em;
}
.search_button{
  line-height:2em;
}

.add_post{
  height:200px;
    width:300px;
    background-color: green;
    margin:0;
    

}


.posts_list{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}

.carousel-container {
	width: 50%;
	height: 50vh;
	margin: 0 ;
	position: relative;
	display: flex;
	justify-content: center;
	background-color: #333;
	overflow: hidden;  
}


.next-list {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
	position:absolute;
	bottom:20px;
	display: flex;

 } 

.next-list img {

  display: inline-block;

  height: 51px;
  min-width: 100px;
  position: relative;
  margin: 0 5px;
}


